[Unit]
Description=NinjaBlocks HomeCloud Service
After=network.target 

[Service]
ExecStart=/bin/bash -c '. /etc/profile && exec /opt/ninjablocks/sphere-go-homecloud/sphere-go-homecloud'
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
